fluxoNodeRed.JSON
[
    {
        "id": "e3ce1b1a54ddedfd",
        "type": "tab",
        "label": "MQTT ESP32 Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f596b96902dae66",
        "type": "mqtt in",
        "z": "e3ce1b1a54ddedfd",
        "name": "Receber Gols MQTT",
        "topic": "futebol/gols",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "65fe8618cd32b86f"
            ]
        ]
    },
    {
        "id": "65fe8618cd32b86f",
        "type": "change",
        "z": "e3ce1b1a54ddedfd",
        "name": "Set Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gols",
                "tot": "msg"
            }
        ],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "04a07288e8a3b723",
                "d58cbfff17ec0ab6"
            ]
        ]
    },
    {
        "id": "04a07288e8a3b723",
        "type": "debug",
        "z": "e3ce1b1a54ddedfd",
        "name": "Debug Gol",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "d58cbfff17ec0ab6",
        "type": "ui_gauge",
        "z": "e3ce1b1a54ddedfd",
        "name": "Gols",
        "group": "7562bed9274a7e23",
        "order": 1,
        "width": 13,
        "height": 9,
        "gtype": "gage",
        "title": "Gols",
        "label": "QUANTIDADE",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#0036b3",
            "#0036b3",
            "#0036b3"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Servidor MQTT",
        "broker": "192.168.0.11",
        "port": "1883",
        "clientid": "NodeRED-Test",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7562bed9274a7e23",
        "type": "ui_group",
        "name": "Contagem de Gols",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Placar",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "817fd9a90443b220",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]